html, body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
} *, *::before, *::after { box-sizing: border-box; }

@media (max-width: 960px){
  body{
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto 1fr auto !important;
  }
  body > div:first-child{
    grid-row: 1;
    grid-column: 1;
    height: auto !important;
    position: relative !important;
  }
  body > div:nth-child(2){
    grid-row: 2;
    grid-column: 1;
  }
  main{
    grid-row: 3 !important;
    grid-column: 1 !important;
  }
  body > div:last-child{
    grid-row: 4;
    grid-column: 1;
  }
}
