html, body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
} *, *::before, *::after { box-sizing: border-box; }

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
